*{
	margin: 0px; 
	padding: 0px;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box; /*responsive*/
}
body{
	background: rgb(197, 191, 191);
	font-family: 'Tajawal', sans-serif;
}

h2{
	margin-left: 35px;
}

h4{
	margin-left: 65px;
	font-size: 25px;
}

main{
	width: 100%;
	height: auto;
	min-height: 720px;
	margin-top: 5%; 
}
.img-avatar{
	height: auto;
    width: 100%;
    border: 5px solid #464646;
    overflow: hidden;
    margin: 0 auto 15px;
    opacity: 1;
    margin-bottom: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	transform: rotate(385deg);
}
img{
	max-width: 100%;
    height: auto;
	vertical-align: middle;
}


aside{
    position: fixed;
	width: 20%;
	margin-right: 5% !important;
    margin-left: 5% !important;
}

.section-nav{
	margin-top: 50px;
}
.nav-menu{
	background: #CDF;
    margin: 10px 0px;
    padding: 5px 20px;
	/* border-radius: 91px; */
	min-width: 100%;
}
.nav-menu:hover{
	background: rgb(140, 153, 179);
}

article{
	width: 65%;
	float: right;
	margin-right:5% !important;
}

section{
	background: rgb(239, 230, 230);
	margin-bottom: 30px;
	padding: 20px 50px;
}

section:hover{
	background: rgb(201, 196, 196);
}


#fixedbutton{
	position: fixed;
	bottom: 10px;
	right: 1250px;
	width: 30px;
}

#myBtn {
    display: none; /* Hidden by default */
    z-index: 99; /* Make sure it does not overlap */
	text-align: center;
}

.port-icon:after{
	content: "";
	clear: both;
	display: table;
}

#portfolio img{
	float: left;
	width: 20%;
	margin: auto 2.5%;
}

.a-icon{
	display: inline-block;
}

@media only screen and (max-width: 360px){
	article{
		margin: 0px !important;
		width:100%;
	}
	aside{
		text-align: center;
		width: 100%;
		margin: auto !important;
		position: inherit !important;
	}
	.nav-menu{
		width: 100%;
	
	}
	#myBtn{
		display: hide !important;
	}
}

@media only screen and (max-width: 768px) and (min-width: 120px){
	article{
		margin: 15px 0px !important;
		/* width: 65%; */
		float: right;
	}
	aside{
		text-align: center;
		/* width: 35%; */
		margin: 0px !important;
	}
	.nav-menu{
		width: 20%;
		margin: 0px !important;
	}
	#myBtn{
		display: hide !important;
	}
}
